* {
  box-sizing: border-box;
}
body {
  font-family: Arial, Helvetica, sans-serif;
}

/* Style the counter cards */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 16px;
  margin-top: 10px;
}
.card .imageDiv{
  background-color: #f5f5e5d1;
}
.card h3{
  font-weight: bold;
  color: #0850f1e8;
}
.triggerButton{
  float: left;
  width: 40%;
  padding: 10px;
  margin: 5px 5%;
  border: none;
  border-radius: 5px;
}
.triggerButtonNormal{
  background-color: lightgreen;
}
.triggerButtonActive{
  background-color: darkgreen;
}
.yearsSection, .launchSection, .landingSection{
  text-align: center;
}
.yearsSection h3,.launchSection h3, .landingSection h3{
  text-decoration: underline;
}
.imageDiv img{
  width: 100%;
}

/* Float four columns side by side */
@media screen and (min-width: 1024px) {
.column {
  float: left;
  width: 25%;
  padding: 0 10px;
}
.filterContentSection{
  width: 20%;
  float: left;
  padding: 20px;
}
.mainContentSection{
  width: 80%;
  float: left;
  padding: 20px;
}
.card {
  height: 550px;
}
}
/* Responsive columns */
@media screen and (max-width: 1024) and (min-width: 700px) {
  .column {
    float: left;
    width: 50%;
    padding: 0 10px;
  } 
.card {
  height: auto;
}
}
@media screen and (max-width: 700px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
  .card {
    height: auto;
  }
}
